body{
    font-family: 맑은고딕, Malgun Gothic, dotum, gulim, sans-serif;
}

/*custom calendar start*/
.custom-calendar {
    //달력 선택된 스타일 바꿀 때와 글자 세로 가운데 정렬
  
    $mainColor1: #B52C2C;
  
  
    .dx-calendar-cell {
      vertical-align: middle;
  
      &:not(.dx-calendar-other-view, .dx-calendar-selected-date):hover {
        box-shadow: inset 0 0 0 1000px rgba($mainColor1,0.07);
      }

      &.dx-state-active:not(.dx-calendar-empty-cell):not(.dx-calendar-selected-date) {
        box-shadow: inset 0 0 0 1000px rgba($mainColor1,0.2);
      }
    }
  
    .dx-calendar-cell.dx-calendar-selected-date, .dx-calendar-cell.dx-calendar-selected-date.dx-calendar-today {
      box-shadow: inset 0 0 0 1000px $mainColor1 , 1px 1px 1px rgba(0,0,0,0.15);
      font-weight: bold;
    }

    
  
    //요일 색깔 코드
    th[abbr='Saturday'] {
      color: #0052d7;
    }
  
    .dx-calendar-cell[aria-label*='Saturday']:not(.dx-calendar-selected-date) {
      color: #0052d7;
  
      &.dx-calendar-other-view {
        color: rgba(#0052d7, 0.4);
      }
    }
  
    th[abbr='Sunday'] {
      color: #c30000;
    }
  
    .dx-calendar-cell[aria-label*='Sunday']:not(.dx-calendar-selected-date) {
      color: #c30000;
  
      &.dx-calendar-other-view {
        color: rgba(#c30000, 0.4);
      }
    }
  }
  
/*custom calendar end*/