@charset "UTF-8";
body {
  font-family: 맑은고딕, Malgun Gothic, dotum, gulim, sans-serif;
}

/*custom calendar start*/
.custom-calendar .dx-calendar-cell {
  vertical-align: middle;
}

.custom-calendar .dx-calendar-cell:hover {
  -webkit-box-shadow: inset 0 0 0 1000px rgba(181, 44, 44, 0.07);
          box-shadow: inset 0 0 0 1000px rgba(181, 44, 44, 0.07);
}

.custom-calendar .dx-calendar-cell.dx-state-active:not(.dx-calendar-empty-cell):not(.dx-calendar-selected-date) {
  -webkit-box-shadow: inset 0 0 0 1000px rgba(181, 44, 44, 0.2);
          box-shadow: inset 0 0 0 1000px rgba(181, 44, 44, 0.2);
}

.custom-calendar .dx-calendar-cell.dx-calendar-selected-date, .custom-calendar .dx-calendar-cell.dx-calendar-selected-date.dx-calendar-today {
  -webkit-box-shadow: inset 0 0 0 1000px #B52C2C, 1px 1px 1px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 0 0 1000px #B52C2C, 1px 1px 1px rgba(0, 0, 0, 0.15);
  font-weight: bold;
}

.custom-calendar th[abbr='Saturday'] {
  color: #0052d7;
}

.custom-calendar .dx-calendar-cell[aria-label*='Saturday']:not(.dx-calendar-selected-date) {
  color: #0052d7;
}

.custom-calendar .dx-calendar-cell[aria-label*='Saturday']:not(.dx-calendar-selected-date).dx-calendar-other-view {
  color: rgba(0, 82, 215, 0.4);
}

.custom-calendar th[abbr='Sunday'] {
  color: #c30000;
}

.custom-calendar .dx-calendar-cell[aria-label*='Sunday']:not(.dx-calendar-selected-date) {
  color: #c30000;
}

.custom-calendar .dx-calendar-cell[aria-label*='Sunday']:not(.dx-calendar-selected-date).dx-calendar-other-view {
  color: rgba(195, 0, 0, 0.4);
}

/*custom calendar end*/
